.person{
    display: inline-block;
    border: 1px solid #eee;
    /* box-shadow: 4px 4px 0px #ccc; */
    width: 300px;
    padding: 10px;
    border-radius: 0px 10px 0px 10px;
    margin: 5px;
    word-wrap: break-word;
}

.person-age{
    border: 1px solid #eee;
    background-color: black;
    color: white;
    text-align: center;
    padding: 2px;
    margin-top: 5px;
}